/* Основные цвета */
:root {
    --light-sea-green: #1abc9c;
    --white: #ffffff;
    --salmon: #FA8072;

}

/* Фон страницы */
body {
    background-color: var(--white);
    color: #333;
    padding-top: 16px;
}

/* Контейнер для верхнего меню */
.header-container {
    background-color: var(--light-sea-green);
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}


ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 20px;
}


.nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--salmon);
}


/* Добавляем стиль для активной ссылки */
.nav-link.active {
    color: var(--salmon); 
    pointer-events: none; 
    cursor: default;
}


/* Кнопки */
button.btn {
    background-color : var(--light-sea-green);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-success {
    background-color: #ddd;
    color: #1abc9c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-danger {
    background-color: #FA8072;
    color: #ddd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: green;
}

/* Стили для списка задач */
.task-list {
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px; /* Чтобы не расползалось по всему экрану */
}

.task-item {
    list-style: none;
    text-decoration: none;
    color: inherit;
    display: block;
    background-color: var(--white);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.task-item:hover {
    background-color: var(--light-sea-green);
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.task-item a {
    text-decoration: none;  /* Убирает подчёркивание */
    color: inherit;         /* Сохраняет цвет родительского элемента */
    display: block;         /* Делаем ссылку блочным элементом */
    width: 100%;            /* Чтобы вся задача была кликабельной */
    height: 100%;           /* По высоте блока тоже */
}

/* Стиль для .task-item при наведении */
.task-item:hover a {
    color: var(--white);    /* Меняем цвет текста на белый при наведении */
}
